.embla {
    --carousel-slide-width: 195px;
    --carousel-slide-gap: 6px;
    position: relative;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}

.embla__slide {
    flex: 0 0 100%;
    max-width: var(--carousel-slide-width);
    min-width: 0;
    margin-left: var(--carousel-slide-gap);
}

.buttons {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;

    button {
        color: white;
        background: rgba(26, 26, 46, 0.8);
        border-radius: 16px;
        padding: 20px 0px;
        align-items: center;
        pointer-events: auto;
    }

    .embla__button_next {
        margin-left: auto;
    }
}

.title {
    font-size: 1.875rem;
    margin-bottom: 16px;
}